{% extends 'layout.html' %}
{% block content %}
<h2>Utenti</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ruolo</th>
      <th>MFA Attivo</th>
      <th>Case Associate</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ 'Sì' if user.mfa_enabled else 'No' }}</td>
      <td>{{ user.houses_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} 